
#job-offers-list .list {
	font-size: 1rem;
}

.job-offer-row-1 {
	font-size: 0.85rem;
}

.job-offer-intitule {
	font-weight: bold;
	font-size: 1.2rem;
}

.job-offer-row:nth-of-type(odd) {
	background-color: #E6E6E6;
}
.job-offer-row:nth-of-type(even) {
	background-color: #FFFFFF;
}

.pagination > li {
	margin-right: 4px;
}

/* Fix having a red square at the start in the dropdown list elements */
.select-multiple div.ms-drop ul > li::before {
	background: initial ! important;
}

/* Fix having a red square at the start in the dropdown list elements */
.select-multiple div.ms-drop label {
	padding-left: 0 ! important;
}
