
#job-offers-list .list {
	font-size: 1rem;
}

.job-offer-fonction {
	font-weight: bold;
	font-size: 0.85rem;
}

.job-offer-intitule {
	font-weight: bold;
	font-size: 1.2rem;
}

.job-offer-row:nth-of-type(odd) {
	background-color: #E6E6E6;
}
.job-offer-row:nth-of-type(even) {
	background-color: #FFFFFF;
}

.pagination > li {
	margin-right: 4px;
}
